<!DOCTYPE html>
<html lang="en">

<head>
  <title>Death Scape</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
  <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
  <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</head>

<body class="bg-dark">
  <div class="container bg-dark text-white center">
    <div class="room">
      <img src="{{ url_for('static', filename='img/default_room.jpg')}}" alt="" style="width:70%">
      <h1>{{data.name}}</h1>
      <p>{{data.plot.text}}</p>
    </div>
    <div class="options mb-5">
      {% for opt in data.options %}
      <div class="btn btn-light">
        {{opt}}
      </div>
      {% endfor %}
      <div class="btn btn-light" onclick="toggleDisplay()">
        <b>Talk to an NPC</b>
      </div>
    </div>
    <div class="npc d-none mb-5" id="npc">
      {% for npc in data.npc %}
      <div class="btn btn-light">
        Talk to {{npc}}
      </div>
      {% endfor %}
      <!-- <div class="btn btn-light">
        Talk to NPC 2
      </div>
      <div class="btn btn-light">
        Talk to NPC 3
      </div>
      <div class="btn btn-light">
        Talk to NPC 4
      </div>
      <div class="btn btn-light">
        Talk to NPC 5
      </div> -->
    </div>
    <div class="chat d-none mb-5" id="chat">
      <div class="border border-light">
        NPC:<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris
      </div>
      <div class="responses d-none" id="responses">
        <div class="btn btn-light">
          Positive responses
        </div>
        <div class="btn btn-light">
          Negative responses
        </div>
      </div>
    </div>
  </div>
</body>

</html>