<!DOCTYPE html>
<html lang="en">

<head>
  <title>Death Scape</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</head>

<body
  onload="preprocess(`{{data.player}}`, `{{data.level}}`, `{{data.room}}`, `{{data.characters}}`, `{{data.story}}`, `{{data.choices}}`)">
  <div class="text-white text-center vertical-center container margins">
    <div class="mb-5">
      <h1>Death Scape</h1>
    </div>
    <div class="mb-5">
      <img src="{{ url_for('static', filename='img/default_room.jpg')}}" style="width: 50%">
    </div>
    <div class="mb-5">
      <h2>{{data.room.name}}</h2>
    </div>
    <div class="mb-5" id="story">
      {% for story in data.story %}
      <div class="mb-2">
        <p>{{story}}</p>
      </div>
      {% endfor %}
    </div>
    <div id="choices">
      <form action="/deathscape?player={{data.player.name}}" method="post">
        {% for choice in data.choices %}
        <div class="mb-2">
          <button class="btn btn-light" id="button-{{choice.index}}" type="submit" name="choice" value="{{choice.name}}"
            onsubmit="handle(`button-{{choice.index}}`, `{{choice.name}}`)">
            {{choice.name}}
          </button>
        </div>
        {% endfor %}
      </form>
    </div>
</body>

</html>