<!DOCTYPE html>
<html lang="en">

<head>
  <title>Death Scape</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</head>

<body
  onload="preprocess(`{{data.player}}`, `{{data.level}}`, `{{data.room}}`, `{{data.characters}}`, `{{data.story}}`, `{{data.choices}}`)">
  <div class="text-white text-center vertical-center container margins">
    <div class="mb-5">
      <h1>Death Scape</h1>
    </div>
    <div class="mb-5">
      <img src="{{ url_for('static', filename='img/button_room.jpg')}}" style="width: 50%">
    </div>
    <div class="mb-5">
      <h2>{{data.room.name}}</h2>
    </div>
    <div class="mb-5" id="story">
      {% for story in data.story %}
      <div class="mb-2">
        <p>{{story}}</p>
      </div>
      {% endfor %}
    </div>
    <form action="/deathscape?player={{data.player.name}}" method="post">
      {% for choice in data.choices %}
      <div class="mb-2">
        <button class="btn btn-light" type="submit" name="choice" value="{{choice.name}}">
          {{choice.name}}
        </button>
      </div>
      {% endfor %}
    </form>
    <form action="/deathscape?player={{data.player.name}}" method="post">
      {% for character in data.characters %}
      <div class="mb-2">
        <button class="btn btn-light" type="submit" name="character" value="{{character}}">
          Talk to {{character}}
        </button>
      </div>
      {% endfor %}

      {% for message in msg %}
      <div>
        {{message.name}}: {{message.text}}
      </div>
      {% endfor %}
      {% if talk %}
      <div>
        <div class="mb-2">
          <textarea class="form-control" name="msg"></textarea>
        </div>
        <div class="mb-2">
          <button class="btn btn-light" type="submit" name="character" value="msg">
            Submit
          </button>
        </div>
        <div class="mb-2">
          <button class="btn btn-light" type="submit" name="character" value="end_convo">
            End
          </button>
        </div>
      </div>
      {% endif %}
    </form>
</body>

</html>