<!DOCTYPE html>
<html lang="en">
<head>
    <title>Death Scape</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"> -->
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
</head>
<body>
    <div class="full-height container-fluid bg-dark text-white">
      <div class="full-height row">
        <div class="full-height col-7">
          <div class="col-12 centering h-60">
            <img src="{{ url_for('static', filename='img/default_room.jpg')}}" alt="" style="width:70%">
          </div>
          <div class="col-12 centering h-40">
            <div class="text-center w-75">
              <h1>Room name</h1>
              <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse 
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="full-height col-5">
          <div class="col-12 centering h-30">
            <div class="w-100 text-center">
              <div class="col-12 btn btn-light w-75 mt-2 mb-2">
                ABCD
              </div>
              <div class="col-12 btn btn-light w-75 mt-2 mb-2">
                ABCD
              </div>
              <div class="col-12 btn btn-light w-75 mt-2 mb-2">
                ABCD
              </div>
            </div>
          </div>
          <div class="col-12 centering h-20">
            <div class="w-100 text-center">
              <div class="col-12 btn btn-light w-75 mt-2 mb-2">
                ABCD
              </div>
              <div class="col-12 btn btn-light w-75 mt-2 mb-2">
                ABCD
              </div>
            </div>
          </div>
          <div class="col-12 centering h-40">
            <div class="w-100 text-center h-100">
              <div class="col-12 centering h-75 border border-light w-100 mt-2 mb-2">
                <div class="text-center w-100">
                  NPC:<br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                </div>
              </div>
              <div class="col-12 centering h-25 w-100 mt-5 mb-2">
                <div class="row w-100">
                  <div class="col-6 centering">
                    <div class="w-100 text-center">
                      <div class="col-12 btn btn-light w-75 mt-2 mb-2">
                        ABCD
                      </div>
                    </div>
                  </div>
                  <div class="col-6 centering">
                    <div class="w-100 text-center">
                      <div class="col-12 btn btn-light w-75 mt-2 mb-2">
                        ABCD
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>